name: OWASP Dependency Check

on:
  push:
  pull_request:

jobs:
  depcheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: OWASP Dependency Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: 'WD-APP'
          path: '.'
          format: 'HTML'
          out: 'reports'
          args: >
            --failOnCVSS 7

      - name: Upload report
        uses: actions/upload-artifact@v3
        with:
          name: dependency-check-report
          path: reports
